@import "~react-pro-sidebar/dist/scss/styles.scss";

.dashboard-container {
    position: relative;
    display: flex;
    height: 100%;

    .side-heading {
        min-height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .side-footer {
        min-height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .main-content {
        max-width: unset;
        display: flex;
        flex-direction: column;
        overflow: auto;

        .main-navbar {
            margin: 0px -15px;
            background-color: #f3f3f4;
            border-bottom: 1px solid #1d1d1d;

            .navbar-brand {
                margin-left: 12px;
            }

            .toggle-btn {
                cursor: pointer;
            }

            .logout-btn {
                margin-left: auto;
            }
        }
    }
}
