.stockists-wrapper {
    padding: 15px 0px;

    .tool-bar {
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 24px;
        align-items: center;

        > h3 {
            margin: 0px auto 0px 0px;
        }
    }
}
