.home-container {
    color: #676a6c;
    height: 100%;
    display: flex;

    .login-box {
        margin: 150px auto auto auto;
        text-align: center;
        width: 100%;
        max-width: 400px;

        h1 {
            font-size: 6rem;
            color: #e6e6e6;
            margin-bottom: 32px;
        }
        h3 {
            color: #676a6c;
            margin-bottom: 12px;
        }
        p{
            font-size: 14px;
        }
        .input-group {
            margin-bottom: 12px;

            input {
                &:focus {
                    border-color: #e6e6e6;
                    outline: 0;
                    box-shadow: 0 0 0 0.2rem #e6e6e6;
                }
                color: #676a6c;
            }
        }
        .login-btn {
            width: 100%;
            color: #f3f3f4;
            margin-bottom: 8px;
        }
    }
}
